body {
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #c5c1ff 56%,
    #ffbac3 100%
  );
}
.App {
  font-family: "Arvo", serif;
  max-width: 700px;
  margin: 30px auto;
  padding: 12px;
}

.form-control {
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
}

.btn-primary {
  margin-bottom: 10px;
  background-color: #52057b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.btn-primary:hover {
  cursor: pointer;
  transition: 200ms ease-in-out;
  color: white;
  background-color: #8675a9;
}
footer {
  font-size: 13px;
  color: #52057b;
  margin: 10px 0;
}
