.cityW {
  font-family: "Arvo", serif;
  border: 2px solid #52057b;
  box-shadow: 4px 4px 4px #8675a9;
  border-radius: 4px;
  margin: 30px auto;
  padding: 12px;
}

.currentStatus {
  text-transform: capitalize;
  list-style: none;
  text-align: justify;
  padding: 5px;
  color: #52057b;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}
.currentCity {
  font-size: 30px;
  font-weight: 400;
}
.weatherIcon {
  margin-left: 10px;
  height: 100px;
  width: 100px;
}

.humid-wind {
  text-align: center;
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  width: 150px;
  margin: -85px 410px 30px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #8675a9;
  color: white;
}

.temperatureStyle {
  color: #52057b;
  text-align: left;
  font-size: 65px;
}
.units {
  color: #52057b;
  position: relative;
  font-size: 16px;
  top: -34px;
  font-weight: bold;
  margin-left: 5px;
}
.five-days {
  width: 28.5em;
  text-align: center;
  vertical-align: middle;
  font-family: "Arvo", serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  color: #52057b;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
}
.week-Days {
  vertical-align: bottom;
}
