.cityW {
  font-family: "Arvo", serif;
  border: 2px solid #52057b;
  box-shadow: 4px 4px 4px #8675a9;
  border-radius: 4px;
  margin: 30px auto;
  padding: 12px;
}

.currentStatus {
  text-transform: capitalize;
  list-style: none;
  text-align: justify;
  color: #52057b;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  padding: 5px;
}
.currentCity {
  font-size: 30px;
  font-weight: 400;
  line-height: 29px;
}
.WeatherInfo canvas {
  margin-left: 20px;
  display: inline-block;
  margin-top: 5px;
}

.humid-wind {
  position: relative;
  text-align: center;
  list-style: none;
  line-height: 25px;
  width: 150px;
  margin: -84px 376px 30px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #8675a9;
  color: white;
}

.temperatureStyle {
  color: #52057b;
  text-align: left;
  font-size: 65px;
}
.units {
  color: #52057b;
  position: relative;
  font-size: 16px;
  top: -34px;
  font-weight: bold;
  margin-left: 5px;
}
